.py-4 {
    padding-top: 0rem !important;
}

.navbar{
    margin-bottom: 4rem;
}

.all-posts-list, .image-edit ,.edit-button{
    margin-top:1rem;
    margin-bottom:1rem;

}

.all-posts-list-container{
    margin: auto;
    max-width: 70rem;
}

